@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-200;
  background-color: #fff;
}

.dark body {
  background-color: #111827;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 3s ease-in-out forwards;
}
